<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7ee13f35-c8ae-4744-bd9c-ce57fd3ae6c7/resourcegroups/CRUDEF20250927000027ResourceGroup/providers/Microsoft.Web/sites/CRUDEF20250927000246</ResourceId>
    <ResourceGroup>CRUDEF20250927000027ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/7ee13f35-c8ae-4744-bd9c-ce57fd3ae6c7/resourceGroups/CRUDEF20250927000027ResourceGroup/providers/Microsoft.ApiManagement/service/CRUDEFapi/apis/CRUDEF</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://crudef20250927000246-c4ddfnfteeg9b4fm.eastus2-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>50e29993-693d-424b-ad34-5f6e5bc766fa</ProjectGuid>
    <MSDeployServiceURL>crudef20250927000246-c4ddfnfteeg9b4fm.scm.eastus2-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CRUDEF20250927000246</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>